body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 40px;
    text-shadow: 2px 2px 5px gray;
}

h2 {
    color: #555;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
    .foto {
    width: 200px;
    border-radius: 10px; /* cantos arredondados */
}